<header>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Notification App
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
</header>
<main>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Titulo</div>
      Subtitulo
    </div>
    <p>00/00/0000</p>
    <!-- <span class="badge bg-primary rounded-pill">14</span> -->
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Titulo</div>
      Subtitulo
    </div>
    <p>00/00/0000</p>
    <!-- <span class="badge bg-primary rounded-pill">14</span> -->
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Titulo</div>
      Subtitulo
    </div>
    <p>00/00/0000</p>
    <!-- <span class="badge bg-primary rounded-pill">14</span> -->
  </li>
</ol>
</main>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-dark"> © 2022 CNPJ: XX.XXX.XXX/XXXX-XX Av. Endereço Locação XXX/XXX - Bairro - Cidade/UF</p>
  </div>
  <!-- Copyright -->
</footer>