<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
</head>
<body>
    <form th:action="@{/produto/criarNovo}" method="get">
        <input type="submit" value="Novo Produto"/>
    </form>
    <form th:action="@{/produto/listarTodos}" method="get">
        <input type="submit" value="Listar Produtos"/>
    </form>
    <form th:action="@{/produto/editar}" method="get">
        <input type="submit" value="Editar Produto"/>
    </form>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair"/>
    </form>
</body>
</html>