<app-navbar></app-navbar>
<app-lista></app-lista>






















<!-- <app-generic></app-generic> -->
<!-- <app-cards>
    <h2 class="card-title">Título</h2>
    <h5 id="subtitulo">Subtítulo</h5>
    <img src={{cards.url}} class="card-img-top" style="height: 10rem" alt="{{cards.description}}">
    <div class="card-body">
        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
            libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
            voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
        </p>
        <p class="card-text">{{cards.description}}</p>
    </div>
</app-cards> -->
<!-- <app-ng-ifcomponent>
    <p id="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
        libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
        voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
    </p>
</app-ng-ifcomponent> -->
<!-- <app-generic-input></app-generic-input> -->