body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    background-color: #5fbff9;
}

header {
    position: sticky;
    top: 0;
    height: 10%;

    display: flex;
    justify-content: space-between;
    background-color: #3a4454;
}

#logo img{
    height: 100%;
}


header nav {
    display: flex;
   
    justify-content: end;
    width: 30%;
    /*alterar tamanho fixo dos nav a*/
}
header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%; 
    text-decoration: none;
    background-color: #53687e;
    color: black;
}
header nav a:hover{
    animation-duration: 0.3s;
    animation-name: navAhover;
    /*transition: propriedades tempo -- rgb(x,x,x) 300ms*/
    background-color: rgba(83, 104, 126, 0.5);
}

@keyframes navAhover{
    from {
        background-color: rgba(83, 104, 126, 1);
    }
    to {
        background-color: rgba(83, 104, 126, 0.5);
    }
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #f9c784;
}
h1 {
    font-family: Verdana;
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1459682687441-7761439a709d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=940&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    box-sizing: border-box;
    width: 100%;
}
.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding:2%;
    background-color: #f9c784;
    
}
.playerArea{
    background-color: #5fbff9;
    padding: 5% 0 5% 0;
    border:solid;
}
.playerArea p {
    font-size: 16px;
}

footer {
    bottom: 0;
    background-color: #53687e;
}

footer p {
    font-size: 20px;
    text-align: center;
}
p {
    font-size: 14px;
}
a{
    
    width: 100px;
}
a img{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}
/*Imagens.html*/
.imgTable {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgTable img {
    width: 500px;
    height: 700px;
}