<form class="container bg-secondary text-white">
    <div class="container row">
        <div class="mb-3 col-9">
            <label for="materia" class="form-label">Matéria</label>
            <input name="materia" [(ngModel)] = "data.materia" type="text" class="form-control" id="materia">
        </div>
        <div class="mb-3 col-3">
            <label for="cargaHoraria" class="form-label">Carga Horaria</label>
            <input name="cargaHoraria" [(ngModel)] = "data.cargaHoraria" type="text" class="form-control" id="cargaHoraria">
        </div>
    </div>
    <div class="container row">
        <div class="mb-3 col-8">
            <label for="escola" class="form-label">Escola</label>
            <input type="text" class="form-control" id="escola">
        </div>
        <!-- quebrar select -->
        <select class="form-select" aria-label="Default select example">
            <option selected>Professor</option>
            <option value="otavio">Otávio</option>
            <option value="vivian">Vivian</option>
            <option value="leandro">Leandro</option>
            <option value="claudia">Cláudia</option>
        </select>
        <div class="container p-2">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Opcional
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Não opcional
                </label>
            </div>
        </div>
    </div>

    <div class="mb-3 p-2">
        <button (click)="enviar($event)" type="submit" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
        <button type="reset" class="btn btn-danger m-1">Reset</button>
    </div>
</form>
<app-modal></app-modal>